<p><img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/p720x720/10846478_752399151519695_8840986881492410324_n.jpg?oh=dd5624d71e5d523958e33c23fc15075f&oe=5650E9C8" alt="[Foto]" width="100" /></p>
<author>Javier Azanza Vega</author>
<p>
  <time datetime="1998-11-16">16/Nov/1998</time><br/>
  <span><a href="https://facebook.com/javier.azvg" target="_blank">Sígueme en Facebook</a></span>
</p>
